In [57]:
import json
import pandas as pd
from matplotlib import pyplot as plt
import datetime
import seaborn as sns
import numpy as np
plt.style.use('seaborn')
%matplotlib inline
import csv
import codecs

In [58]:
with open('cleanDictArray2.json') as f:
    vidsArr = json.load(f)
f.close
with open('cleanedComments.csv',encoding='utf-8') as f:
    reader = csv.reader(x.replace('\0', '') for x in f)
    cleanedComments = list(reader)
f.close()

In [59]:
data = pd.DataFrame(vidsArr)
data.head()

,commentCount,date,dislikeCount,likeCount,title,viewCount
0,2091,2013-01-17T22:40:29.000Z,175,6485,Joe Rogan Experience #1 - Brian Redban,673255
1,359,2013-01-17T22:47:58.000Z,68,1004,Joe Rogan Experience #2 - Brian Redban,134693
2,320,2013-01-17T23:22:28.000Z,66,1016,Joe Rogan Experience #3 - Ari Shaffir,133176
3,59,2013-01-17T23:49:17.000Z,19,343,Joe Rogan Experience #5 - Ari Shaffir & John H...,49565
4,48,2013-01-18T00:04:38.000Z,11,278,Joe Rogan Experience #5 - Ari Shaffir & John H...,33535

In [67]:
cleanedComments[1300][50]

'Creatures that work in the dark hate the light'

In [60]:
data['comments'] = cleanedComments

In [61]:
data.head()

,commentCount,date,dislikeCount,likeCount,title,viewCount,comments
0,2091,2013-01-17T22:40:29.000Z,175,6485,Joe Rogan Experience #1 - Brian Redban,673255,[Less than 10 years later this man would build...
1,359,2013-01-17T22:47:58.000Z,68,1004,Joe Rogan Experience #2 - Brian Redban,134693,"[Snakes can see farts, Ethiopia, Joe did a num..."
2,320,2013-01-17T23:22:28.000Z,66,1016,Joe Rogan Experience #3 - Ari Shaffir,133176,"[This seems like 2008 not 2013, 3 down 1368 mo..."
3,59,2013-01-17T23:49:17.000Z,19,343,Joe Rogan Experience #5 - Ari Shaffir & John H...,49565,"[I watched this on August 29, 2019!, Joe, rock..."
4,48,2013-01-18T00:04:38.000Z,11,278,Joe Rogan Experience #5 - Ari Shaffir & John H...,33535,"[I watched this on August 29, 2019!, The and b..."

In [63]:
data[data.title=='Joe Rogan Experience #1255 - Alex Jones Returns!'].comments[0]

KeyError: 0